 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
}

header {
    position: relative;
    overflow: hidden;
}

.hero {
    background-image: url(Roatan1.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #f8ec3f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #f8ec3f;
}

nav {
    background-color: rgba(12, 0, 61, 0.658);
    position: absolute;
    top: 0;
    width: 165%;
    padding: 10px 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
}

.about, .contenedor-galeria, .Registrar {
    margin-bottom: 40px;
}

.contenedor-galeria {
    text-align: center;
   
}

.product-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.gallery {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    left:100px ;
    right: 50px;
    text-align: center;
    width: 85%;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
}

.gallery h3 {
    margin-top: 10px;
}

.gallery .price {
    font-weight: bold;
    color: #ff007f;
    margin: 10px 0;
    
}

.Registrarse form {
    width: 600px;
    margin: 0 auto;
}

.Registrarse label {
    display: block;
    margin-top: 10px;
}

.Registrarse input, .Registrar textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Registrarse button {
    background-color: #00ff22a4;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    bottom: 200%;
    margin-left: 65px;
    margin-top: 50px;
    align-items: center;
    bottom: 35px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.Registrarse button:hover {
    background-color: #00ff22a4;
    bottom: 50px;
}

footer {
    background-color: #0e0d0de5;
    color: #fff;
    text-align: center;
    padding: 10px;
}